<form>
  <img class="fundo" src="../../../assets/media/pexels-photo-desfocdo.jpg" alt="">
  <div class="container">
    <h1 class="titulo">Faça seu cadastro</h1>

    <input type="text" name="nomes" class="input.text" placeholder="Digite Seu Nome">
    <input type="text" name="nomes" class="input.text" placeholder="Digite Seu Sobre Nome">
    <input type="text" name="nomes" class="input.text" placeholder="Digite Seu Gmail">

    <input type="password" name="Senha" placeholder="Digite Sua senha">
    <input type="password" name="Senha" placeholder="Repita Sua senha">
    <button type="">Cadastrar</button>
  </div>
</form>