<!-- =========== DEPOIMENTO =========== -->

<section class="depoiment">
  <h1 class="">DEPOIMENTOS</h1>
  <hr>
  <div class="container-depoiment">
    <div class="box">

      <img src="./images/rafael.jpeg" alt="">

      <h3>Rafael Roberto Carneiro</h3>
      <p>"Excelentes produtos e ótimos preços."</p>
    </div>


    <div class="box">

      <img src="./images/breno.jpeg" alt="">

      <h3>Breno Nunes Tavares</h3>
      <p>"Muito bom, tem todos os tipos de peças e acessórios"</p>

    </div>


    <div class="box">

      <img src="./images/alan.jpeg" alt="">

      <h3>Alan Araujo</h3>
      <p>"Dono muito gente boa e orienta bem com relação a
        peça que precisa."</p>

    </div>
  </div>
</section>
