<!-- depositions -->

<section class="depoiment">
  <p>{{lang.depositions}}</p>
  <hr>
  <div class="container-depoiment">
    <div class="box">

      <img src="../../../assets/media/rafael.jpeg" alt="">

      <h3>{{lang.rafael}}</h3>
      <p>{{lang.depositionsRafael}}</p>
    </div>


    <div class="box">

      <img src="../../../assets/media/felipe.jpg" alt="">

      <h3>{{lang.felipe}}</h3>
      <p>{{lang.depositionsFelipe}}</p>

    </div>


    <div class="box">

      <img src="../../../assets/media/alan.jpeg" alt="">

      <h3>{{lang.alan}}</h3>
      <p>{{lang.depositionsAlan}}</p>

    </div>
  </div>
</section>
