@import '../../theme/colors.scss';

// depositions

.depoiment {
  text-align: center;

  p {
    margin: $marginTitle;
    font-size: 30px;
    font-family: roboto;
  }

  hr {
    width: 50%;
    height: 2px;
    margin: 0px 25% 0px 25%;
    background-color: $colorPrimary;
  }

  .container-depoiment {

    text-align: center;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33% minmax(575px, 300px);
    margin: 27px 0px;


    .box {

      img {
        width: 130px;
        border-radius: 500px;
      }

      h3 {
        margin: $marginTitle;
        font-family: roboto;
      }

      p {
        font-size: 1rem;
        font-family: roboto;
        max-width: 500px;
      }
    }
  }
}



@media(max-width:768px) {

  // depositions
  
  .depoiment {
    .container-depoiment {
      display: grid;
      margin: 27px 0px;
      text-align: center;
      grid-template-columns: auto;
    }

    .container-depoiment {
      .box {
        p {
          max-width: initial;
        }
      }
    }
  }
}
