<h2 MatDialogTitle>Adicionar Produto</h2>
<mat-dialog-content>
  <section class="modal-cart">
    <form class="row">
      <div class="col-12 img-product">
        <mat-spinner class="position-absolute" *ngIf="spinner"></mat-spinner>
        <label for="imgProduct">
          <img class="border" [src]="photoProduct ? photoProduct : '../../../../assets/media/default-image.jpg'" alt="">
        </label>
        <input class="d-none" (change)="uploadFile($event)" type="file" name="" id="imgProduct">
      </div>  
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Nome</label>
          <input #name type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Nome">
          <small id="emailHelp" class="form-text text-muted">EX: "HASTE BAGAGITO GM"</small>
        </div>
        <div class="form-group">
          <label for="application">Aplicação</label>
          <input #application type="text" class="form-control" id="application" aria-describedby="emailHelp"
            placeholder="Aplicação">
          <small id="emailHelp" class="form-text text-muted">EX: "KADETT TODOS"</small>
        </div>
        <div class="form-group">
          <label for="categoria">Categoria</label>
          <input #categoria type="text" class="form-control" id="categoria" aria-describedby="emailHelp" placeholder="Categoria">
          <small id="emailHelp" class="form-text text-muted">EX: "DIVERSOS"</small>
        </div>
      </div>   
      <div class="col-md-6">
        <div class="form-group">
          <label for="marca">Marca</label>
          <input #marca type="text" class="form-control" id="marca" aria-describedby="emailHelp" placeholder="Marca">
          <small id="emailHelp" class="form-text text-muted">EX: "AXIOS"</small>
        </div>
        <div class="form-group">
          <label for="estoque">Estoque</label>
          <input #stock type="text" class="form-control" id="estoque" aria-describedby="emailHelp" placeholder="Estoque">
          <small id="emailHelp" class="form-text text-muted">EX: "52"</small>
        </div>
        <div class="form-group">
          <label for="photo">Foto</label>
          <input disabled #photo type="text" class="form-control" id="photo" value="{{photoProduct}}" aria-describedby="emailHelp"
            placeholder="Foto">
          <small id="emailHelp" class="form-text text-muted">EX: "DIVERSOS"</small>
        </div>
      </div>
    </form>
  </section>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="action-btn w-100 d-flex justify-content-end">
    <button type="button" class="btn btn-danger" matDialogClose>Cancelar</button>
    <button type="button" class="btn btn-primary ml-1" (click)="add(produtosRef.key,{name:name.value,application:application.value,stock:stock.value,marca:marca.value,categoria:categoria.value,photo:photo.value})"
      matDialogClose>Salvar</button>
  </div>
</mat-dialog-actions>
