<form>
  <img class="fundo" src="../../../assets/media/fusca.jpg" alt="">
  <div class="container">
    <h1 class="titulo">Faça seu login</h1>

    <input type="text" name="nomes" class="input.text" placeholder="Digite Seu Nome">

    <input type="password" name="Senha" placeholder="Digite Sua senha">
    <button type="">Login</button>
    <li class="cadastro">
        <h1 routerLink="/cadastro">Cadastre-se</h1>
    </li>
  </div>
</form> 

 <div *ngIf="afAuth.user | async as user; else showLogin">
    <h1>Hello {{ user.email }}!</h1>
    <h1>Hello {{ user.emailVerified }}!</h1>
    <img src="{{user.photoURL}}" alt="">
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button>
  </ng-template> 
  