
<footer>
  <section class="footer">
    <div class="socialNetworks">
      <p>{{lang.socialNetwork}}</p>
      <hr class="mobile">
      <img src="../../../assets/media/facebook.svg" alt="">
    </div>
    <div class="fast-acess-Footer">
      <p>{{lang.quickAccess}}</p>
      <hr class="mobile">
      <p routerLink="">{{lang.home}}</p>
      <p routerLink="quem-somos">{{lang.whoWeAre}}</p>
      <p routerLink="produtos">{{lang.products}}</p>
      <p routerLink="contato">{{lang.contact}}</p>

    </div>
    <div class="contats">
      <p>{{lang.contact}}</p>
      <hr class="mobile">
      <p><img src="../../../assets/media/home.svg" alt="">{{lang.address}}</p>
      <p><img src="../../../assets/media/email.svg" alt="">{{lang.email}}</p>
      <p><img src="../../../assets/media/phone.svg" alt="">{{lang.phoneOne}}</p>
      <p><img src="../../../assets/media/phone.svg" alt=""> {{lang.phoneTwo}}</p>
      <p><img src="../../../assets/media/whatsapp.svg" alt=""> {{lang.whatsappOne}}</p>
      <p><img src="../../../assets/media/whatsapp.svg" alt="">{{lang.whatsappTwo}}</p>
      <p><img src="../../../assets/media/whatsapp.svg" alt="">{{lang.whatsappThree}}</p>
    </div>
    <div class="pagaments">
      <p>{{lang.payment}}</p>
      <hr class="mobile">
      <div class="img-payment">
        <img src="../../../assets/media/American-Express-PNG-Clipart-min.png" alt="">
        <img src="../../../assets/media/Elo_logo-min.png" alt="">
        <img src="../../../assets/media/visa-min.png" alt="">
        <img src="../../../assets/media/mastercard-min.png" alt="">
      </div>
    </div>
  </section>
</footer>
