<footer>
  <section class="footer">
      <div class="socialNetworks">
          <h3>Rede Social</h3>
          <hr>
          <img src="./images/facebook-app-logo.svg" alt="">
      </div>
      <div class="fast-acess-Footer">
          <h3>Acesso Rapido</h3>
          <hr>
          <ul>
              <li class="home">Home</li>
              <li class="quem-somos">Quem Somos</li>
              <li class="home">Produtos</li>
              <li class="home">Contato</li>
          </ul>
      </div>
      <div class="contats">
          <h3>Contato</h3>
          <hr>
      <p><img src="./images/icon-home.png" alt="">Estr. da Pedra, 7364 - Guaratiba,
          Rio de Janeiro - RJ, 23030-380</p>
          <p><img src="./images/icon-email.png" alt="">marioautopeças@gmail.com</p>
          <p><img src="./images/icon-phone.png" alt="">(21) 2417-2379</p>
          <p><img src="./images/icon-phone.png" alt=""> (21) 2417-3234</p>
          <p><img src="./images/icon-whatsapp.png" alt=""> (21) 96428-1299</p>
          <p><img src="./images/icon-whatsapp.png" alt="">(21) 96488-6250</p>
          <p><img src="./images/icon-whatsapp.png" alt="">(21) 96488-2465</p>
      </div>
      <div class="pagaments">
          <h3>Pagamentos</h3>
          <hr>
          <img src="./images/American-Express-PNG-Clipart-min.png" alt="">
          <img src="./images/Elo_logo-min.png" alt="">
          <img src="./images/mastercard-min.png" alt="">
          <img src="./images/visa-min.png" alt="">
      </div>
  </section>
</footer>