<header class="header desktop">

  <p routerLink="home">
    <img class="logo-marios" src="../../../assets/media/logoo-min.png" alt="Mario´s Auto Peças">
  </p>

  <div class="search">
    <div><input type="text"><button>BUSCA</button></div>
    <div class="user-buy">
      <img src="../../../assets/media/iconmonstr-user-19.svg" alt="">
      <img src="../../../assets/media/294547.svg" alt="">
    </div>
  </div>
  <!-- menu desktop -->

  <nav class="nav-header">
    <li>
      <p routerLink="" [ngClass]="{'active': homeActive}">{{lang.home}}</p>
    </li>
    <li>
      <p routerLink="/quem-somos" [ngClass]="{'active': companyActive}">{{lang.whoWeAre}}</p>
    </li>
    <li>
      <p routerLink="produtos" [ngClass]="{'active': contactActive}">{{lang.products}}</p>
    </li>
    <li>
      <p routerLink="contato" [ngClass]="{'active': productActive}">{{lang.contact}}</p>
    </li>
  </nav>
</header>

<!-- sub menu -->

<section class="sub-menu">
  <ul>
    <li>NOME</li>
    <li>NOME</li>
    <li>NOME</li>
    <li>NOME</li>
    <li>NOME</li>
    <li>NOME</li>
    <li>NOME</li>
    <li>NOME</li>
  </ul>
</section>

<!-- menu mobile -->

<header [ngClass]="{'colorSpan': toogleMenu}" class="header mobile ">
  <!-- <div class="user-buy">
    <img src="../../../assets/media/iconmonstr-user-19.svg" alt="">
    <img src="../../../assets/media/294547.svg" alt="">
  </div> -->
  <p class="logo-marios" routerLink="home">
    <img class="logo-marios" src="../../../assets/media/logoo-min.png" alt="Mario´s Auto Peças">
  </p>

  <div class="nav-header" (click)="toogleSideMenu()">
    <!-- <div>
      <img class="logo-menu" src="../../../assets/media/logoo-min.png" width="100px" alt="">
    </div> -->
    <div>
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="line-3"></div>
    </div>

  </div>

  <nav class="menu-mobile" [ngClass]="{'showMenu': toogleMenu}">
    <div>
      <img class="logo-menu" src="../../../assets/media/logoW.png" width="100px" alt="">
    </div>
    <div class="menu">
      <p routerLink="">HOME</p>
      <p routerLink="quem-somos">QUEM SOMOS</p>
      <p routerLink="produtos">PRODUTOS</p>
      <p routerLink="contato">CONTATO</p>
    </div>
  </nav>
</header>
