@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../../theme/colors.scss';

.cart-empty {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85vh;

  p {
    font-size: 37px;
    color: rgba(0, 0, 0, 0.3);
  }

  app-button {
    margin: 20px 0px;
  }
}

.cart {
  padding-top: 95px;
  justify-content: space-around;

  table {
    height: 74vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow: scroll;

    &::-webkit-scrollbar {
      background-color: #f5eeee;
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $colorPrimary;
      border-radius: 10px;
    }
  }

  img {
    width: 100px;
  }

  tbody {
    max-height: 100px;
  }

  thead {
    display: flex;
    justify-content: space-between;

    th {
      font-size: 20px;
      font-weight: 400;
    }
  }

  .link {
    cursor: pointer;

    &:hover {
      text-decoration: underline;

    }
  }

  .btn-buy {
    display: flex;
    align-items: flex-end;

    button {
      width: 301px;
      height: 60px;
    }
  }

  tr {
    .name {
      width: 500px;
      text-align: center
    }

    .quantity {
      width: 128px;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media(max-width:768px) {
  .cart {
    flex-direction: column;
    align-items: center;
    height: 100vh;

    tr {
      font-size: 14px;
    }

    td {
      img {
        width: 75px;
      }
    }
  }
}
