<section *ngIf="cart" class="cart d-flex">
  <table class=" mt-5 mb-5">
    <thead>
      <th class="text-center"><p class="ml-3 mb-3">Produto</p></th>
      <th class="invisible">Nome</th>
      <th class="text-center mb-2"><p class="mb-3 mr-4">Quantidade</p></th>
    </thead>
    <tbody>
      <tr class="border-bottom" *ngFor="let produto of produtos; let i = index">
        <td><img class="ml-3" [src]="produto.photo ? produto.photo : '../../../../assets/media/default-image.jpg'" alt=""></td>
        <td class="name">{{produto.name}}</td>
        <td class="quantity">
          <div class="mr-5">
            <select class="custom-select mb-2" id="inputGroupSelect01">
              <option selected>1</option>
              <option value="1">2</option>
              <option value="2">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
            <a (click)="deleteProduct(i)" class="link">Remove</a>
          </div>
        </td>
      </tr>
      <hr>
    </tbody>
  </table>

  <div class="btn-buy  mt-5 mb-5">
    <button type="button" class="btn btn-primary btn-lg">Finalizar Compra</button>
  </div>
</section>

<div *ngIf="!cartEmpty" class="btn-finalizar mobile">

  <div class="box">
    <div>
      <button class="btn edit mobile">
        <img src="https://image.flaticon.com/icons/png/512/34/34102.png" width="95px" alt="">Finlizar Compra
      </button>
    </div>
  </div>
</div>
<div *ngIf="cartEmpty" class="cart-empty">
  <p>CARRINHO VAZIO</p>
  <button class="btn btn-primary btn-lg" (click)="toggleModal()" (click)="addToCart(produto)" height="50px" color="#fff">RETORNAR PARA A LOJA</button>
</div>