<div class="title">
  <p>Produtos</p>
</div>
<table>

  <thead *ngIf="!cartEmpty">
    <tr>
      <th>item</th>
      <th>imagem</th>
      <th>nome</th>
      <!-- <th>tipo</th> -->
      <th>preço</th>
      <th>quantidade</th>
      <!-- <th>marca</th> -->
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody *ngFor="let produto of produtos; let i = index">
    <tr>
      <td>{{i + 1}}</td>
      <td><img src="{{produto.photo}}" width="95px" alt=""></td>
      <td class="nn">{{produto.name}}</td>
      <td>R$ 15,00</td>
      <td><input type="number"></td>
      <td><button (click)="deleteProduct(i)" class="btn delete">Delete</button></td>

    </tr>
  </tbody>
</table>

<div *ngIf="!cartEmpty" class="btn-finalizar">
  <button class="btn edit">Finlizar Compra</button>
</div>

<div *ngIf="cartEmpty" class="cart-empty">
  <p>CARRINHO VAZIO</p>
  <app-button (click)="toggleModal()" (click)="addToCart(produto)" text="RETORNAR PARA A LOJA" BC="#2a7023" width="257px"
    height="50px" color="#fff"></app-button>
</div>
