<app-modal-edit *ngIf="showModal"></app-modal-edit>

<div class="new-filter">
  <button class="btn">HOME</button>
  <button class="btn new">NOVO</button>
  <input type="text">
  <P>Lista de produtos</P>
</div>
<table>

  <thead>
    <tr>
      <th>item</th>
      <th>nome</th>
      <th>tipo</th>
      <th>preço</th>
      <th>quantidade</th>
      <th>marca</th>
      <th>imagem</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr  #nome *ngFor="let produto of produtos; let i = index; ">
      <td>{{i + 1}} </td>
      <td  class="nn">{{produto.nome}}</td>
      <td>{{produto.imc}}</td>
      <td>R$ {{produto.peso}}</td>
      <td>{{produto.altura}}</td>
      <td>{{produto.gordura}}</td>
      <td><img src="{{produto.imagem}}" width="95px" alt=""></td>
      <td><button (click)="toggleModal()" class="btn edit">Edit</button></td>
      <td><button  (click)="someMethod(i)" class="btn delete">Delete</button></td>
      <td><button  (click)="removee(i)" class="btn delete">Delete</button></td>
      <td><button  (click)="outputIt(i)" class="btn delete">Delete</button></td>

    </tr>
  </tbody>
</table>