<div class="painel">
  <button (click)="showdialog()" mat-raised-button color="primary">new</button>
</div>
<button type="button" class="btn btn-primary">Primary</button>

<table>
  <thead>
    <tr>
      <th>item</th>
      <th>nome</th>
      <th>application</th>
      <!-- <th>categoria</th> -->
      <th>stock</th>
      <th>id</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let produto of produtos | async; let i = index;">
      <td>{{i + 1}} </td>
      <td><img class="photo" src="{{produto.photo}}" alt=""></td>
      <td>{{produto.name}}</td>
      <td>{{produto.application}}</td>
      <!-- <td>{{produto.categoria.id}}</td> -->
      <td>{{produto.stock}}</td>
      <td>{{produto.id}}</td>

      <td><button (click)="showDialogEdit()" (click)="edit(produto)" mat-raised-button color="primary">Edit</button>
      </td>

      <td><button (click)="delete()" mat-raised-button color="warn">Warn</button>
      </td>
    </tr>
  </tbody>

</table>
