<div class="painel">
  <!-- <input type="text" #id placeholder="nome" /> -->
  <input #name [(ngModel)]="produtosRef.name" type="text" placeholder="name" />
  <input type="text" #tipo placeholder="tipo" />
  <input type="text" #preco placeholder="preco" />
  <input type="text" #quantidade placeholder="quantidade" />
  <input type="text" #marca placeholder="marca" />
  
  <input typSSe="button" (click)="add({name: name.value})" placeholder="telefone" value="Salvar" />

</div>




<table>

  <thead>
    <tr>
      <th>item</th>
      <th>nome</th>
      <th>tipo</th>
      <th>preço</th>
      <th>quantidade</th>
      <th>marca</th>
      <th>imagem</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let produto of produtos | async; let i = index; ">
      <td>{{i + 1}} </td>
      <td class="nn">{{produto.name}}</td>
      
      <!-- <td>{{produto}}</td>
      <td>R$ {{produto.preco}}</td>
      <td>{{produto.quantidade}}</td>
      <td>{{produto.marca.}}</td> -->
      <td><button (click)="edit(produto)" class="btn edit">Edit</button></td>
      <td><button (click)="delete(produto.key)" class="btn delete">Delete</button></td>
    </tr>
  </tbody>

</table>
