/* =========== LOCAIS ============== */
$cor-principal:rgba(25, 135, 25, 1);
$cor-secundaria: green;
$cor-terciaria: white;


.locaisicon {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

/* =========== ORÇAMENTO ============== */
select {
  border: solid #000 20px;
}

.orçamento {
  display: flex;
  align-items: flex-end;
  width: 30%;
}

.orcamento {
  font-size: 30px;
  margin-top: 90px;
  margin-left: 21px;
  font-family: roboto;
}

/* =========== ICONES ============== */
.telefone {
  display: none;
  align-items: center;
  justify-content: space-around;
}

.tel {
  display: flex;
  align-items: center;
}

.localizaçao {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  font-size: 20px;
  margin: 10px;
}

/* =========== CONTATOS ============== */
.sec-contato {
  display: flex;
  justify-content: space-between;
  background-color: $cor-terciaria;
}

#map {
  width: 60%;
  height: 800px;
  margin: 30px;
}

agm-map {
  height: 100%;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  width: 40%;
}

input,
textarea,
select {
  width: 100%;
}

#nome,
#modelo,
#ano,
#tel,
#comentario,
#marca {
  background-color: rgba(136, 0, 0, 0);
  color: $cor-principal;
  font-size: 20px;
  text-align: center;
  display: flex;
  border: 1px solid #80808087;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 3px #80808085;
}

label {
  color: rgb(0, 0, 0);
}

.placeholder {
  color: $cor-principal;
}

::-webkit-input-placeholder {
  color: $cor-principal;
}

.btao {
  background-color: $cor-terciaria;
  padding: 5px;
  color: $cor-secundaria;
  box-shadow: 3px 3px 3px #80808085;
  border: 1px solid;
  width: 95px;
  height: 44px;
}

.btao:hover {
  border-style: none;
  background-color: $cor-secundaria;
  color: $cor-terciaria;
  transition: 0.2s;
}

.dlocais {
  display: none;
}

.nossahistoria {
  height: 90px;
  display: flex;
  align-items: flex-end;
}

.nossa {
  box-shadow: 5px 5px 5px rgb(155, 155, 155);
  background-color: $cor-principal;
  width: 268px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $cor-terciaria;
}

.history {
  background-color: $cor-principal;
}

.textlocalizacao {
  font-size: 25px;
  font-family: roboto;
  color: $cor-terciaria;
}

@media(max-width:700px) {
  .sec-contato {
    display: flex;
    width: 100%;
    margin-left: -15px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .formulario,
  #map {
    width: 90%;
  }

  .btao,
  .botaoo {
    width: 100%;
  }

  #map {
    margin: 0px;
    padding: 20px;
    height: 450px;
  }

  .orçamento img {
    display: flex;
    margin-top: 55px;
    width: 70px;
    height: 70px;
    margin-left: 15px;
  }

  .nossahistoria {
    margin-bottom: 30px;
    display: none;
  }

  .telefone {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  agm-map {
    height: 100%;
  }

  .tel,
  .whatsapp,
  .localizaçao {
    padding: 0px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .orçamento {
    align-items: center;
    text-align: center;
  }

  p.locais {
    display: flex;
    font-size: 20px;
    height: 64px;
    padding: 5px;
    margin-bottom: -7px;
    justify-content: center;
  }

  #nome,
  #tel,
  #marca,
  #modelo,
  #ano {
    padding: 15px;
  }
}

#sct-map {
  width: 105%;
}