<section class="page-login">
  <div class="login">
    <h1 mat-dialog-title>Login</h1>
    <div class="mt-3">

      <input [(ngModel)]="email" type="text" class="form-control mb-3" placeholder="E-mail" aria-label=""
        aria-describedby="basic-addon1">

      <input [(ngModel)]="password" type="text" class="form-control" placeholder="Senha" aria-label=""
        aria-describedby="basic-addon1">
    </div>

    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary mt-3 w-50" (click)="loginEmailAndPassword()" routerLink="/adm">Login</button>
    </div>

    <hr>

    <!-- <div class="d-flex flex-column align-items-center">
      <button type="button" class="btn btn-secondary w-75" (click)="LoginGoogle()">Google</button>
      <button type="button" class="btn btn-secondary w-75 mt-2" (click)="LoginFacebook()">Facebook</button>
    </div>
    <div *ngIf="afAuth.user | async as user; else showLogin">
      <h1>Hello {{ user.displayName }}!</h1>
      <button (click)="logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <p>Please login.</p>
      <button (click)="login()">Login with Google</button>
    </ng-template>
  </div>
</section> -->
