@import '~bootstrap/dist/css/bootstrap.min.css';

.page-login {
  justify-content: center;
  display: flex;
  padding-top: 98px;

  .login{
    margin: 10px 1px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: c;
    justify-content: center;
  }
}
