@import '~bootstrap/dist/css/bootstrap.min.css';

.card {
  min-width: 150px;
  max-width: 150px;
}

.card-deck {
  overflow: scroll;
  overflow-x: hidden;
  height: 80vh;

}

.nossahistoria {
  padding-top: 100px;
  // height: 90px;
  display: flex;
  // align-items: flex-end;
  background: #2b632ae8;
  // display: flex;
  /* justify-content: center; */
  align-items: center;
  // padding-top: 89px;
  // height: 90px;

  h1 {
    // box-shadow: 4px 4px 7px #9b9b9b;
    color: white;
    margin: 10px 20px;
  }
}

@media(max-width:768px) {
  .row {
    flex-direction: column-reverse;
  }
}

@media (min-width: 0px) {
  .card-deck[_ngcontent-c3] {
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}
