@import '../../../styles.scss';
@import '../../container/list-products/list-products.component.scss';

.modal-container-parent {
  position: absolute !important;
}

.show-modal {
  display: flex;
}

.modal-container-parent {
  background-color: rgba(0, 0, 0, 0.860);
  // display: none;
  //FLEX FOR TESTS
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  position: fixed !important;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.edit-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    margin: 10px 0px;
    // padding: 9px 64px;
    font-size: 25px;
  }
}

@media(min-width:768px) {
  .modal-container-parent {
    height: 100vh;
    width: 100%;
    position: relative;
  }
}

.modal-container-child {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  // min-height: 260px;
  width: 90vw;
  max-width: 400px;
  // max-width: 80vw;
  border-radius: 17px;
  padding: 25px;
  margin: 0 20px;
}

@media(max-width:768px) {
  .modal-container-child {
    max-width: 400px;
  }
}

@media(max-width:825px) {
  .modal-container-child {
    max-width: 340px;
  }
}
