<h2 MatDialogTitle>Adicionar Produto</h2>
<mat-dialog-content>
  <section class="modal-cart">
<p>{{produtosRef.name}}</p>
  </section>
</mat-dialog-content>
<p>{{produtosRef.name}}</p>
   
<mat-dialog-actions> 
  <div class="action-btn w-100 d-flex justify-content-end">
    <button type="button" class="btn btn-danger" matDialogClose>Cancelar</button>
    <button type="button" class="btn btn-primary ml-1" (click)="add(produtosRef.key,{name:name.value,application:application.value,stock:stock.value,marca:marca.value,categoria:categoria.value,photo:photo.value})"
      matDialogClose>Salvar-</button>
  </div>
<hr>
</mat-dialog-actions>
