<section class="products">
  <div class="filter desktop" *ngFor="let list of lists">
    <p>{{list.section}}</p>
    <ul>
      <li *ngFor="let item of list.marcas">{{item.marca}}</li>
    </ul>
  </div>
  <div class="product">
    <div class="input-group ml-3 mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
      </div>
    </div>
    <div class="box-product" *ngFor="let produto of produtos | async; let i = index;">
      <img src="{{produto.photo}}" alt="">
      <p class="col-2 text-truncate">{{produto.name}}</p>
      <!-- <p>{{produto.application}}</p> -->
      <p>Por: R${{produto.stock}}</p>
      <button class="btn btn-success w-100 p-2" (click)="addToCart(produto)" data-toggle="modal" data-target="#exampleModalCenter">ADICIONAR<i
          class="fas fa-shopping-cart icon-cart"></i></button>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">ADICIONADO COM SUCESSO!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center flex-column">
        <img width="130px" src="{{produtosRef.photo}}" alt="">
        <p class="mt-3 w-50 text-center">{{produtosRef.name}}</p>
      </div>
      <div class="modal-footer d-flex align-items-center justify-content-around">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CONTINUAR COMPRANDO</button>
        <button type="button" class="btn btn-primary" routerLink="/carrinho">FINALIZAR COMPRAR</button>
      </div>
    </div>
  </div>
</div>
