@import '../../theme/colors.scss';

.products {
  display: flex;
  padding: 20px;
  // margin-top:14vh;
  padding-top: 18vh;
  .filter {
    width: 363px;
    border: 1px solid #000;
    height: 100%;

    p {
      background-color: green;
      color: white;
      padding: 13px;
      
      text-align: center;
    }

    ul {
      padding: 17px;
    }

    li {
      list-style: none;
      padding: 8px 9px;
      cursor: pointer;

      &:hover {
        color: $colorPrimary;
        font-weight: 500;
      }
    }
  }

  .product {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    // grid-template-columns: repeat(auto-fill,minmax(113px,279px));
    height: 20%;


  }

  .box-product {
    // width: 187px;
    display: flex;
    flex-direction: column;
    margin: 16px 21px;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    padding: 10px;
    cursor: pointer;

    &:hover{
      border: 1px solid #333;
      transition: 0.5s;
      padding: 10px;
      // background-color: red;
      opacity: 0.8;
    }
    img {
      width: 187px;
    }

    p:nth-child(2) {
      font-size: 15px;
      text-align: center;
      font-weight: 600;
      margin: 10px 0px;
      height: 113px;
      display: flex;
      align-items: center;
    }

    p:nth-child(3) {
      font-size: 15px;
      text-align: center;
      font-weight: 600;
      margin: 10px 0px;
      height: 113px;
      height: 25px;
      font-size: 20px;
    }

    button {
      background-color: #2a7023;
      border: 1px solid #0c9f4b;
      color: #fff;
      border: none;
      padding: 15px;
      border-radius: 7px;
      width: 100%;

    }
  }
}
