
<app-modal-confirm-product *ngIf="showModal"></app-modal-confirm-product>
<section class="products">
  <div class="filter" *ngFor="let list of lists">
    <p>{{list.section}}</p>
    <ul>
      <li *ngFor="let item of list.marcas">{{item.marca}}</li>
    </ul>
  </div>

  <div class="product">
    <div class="box-product" *ngFor="let produto of produtos; let i = index;">
      <img src="{{produto.imagem}}" alt="">
      <p>{{produto.nome}}</p>
      <p>Por: R${{produto.peso}}</p>
      <button (click)="op()" (click)="addToCart(produto)">ADICIONAR</button>
    </div>
  </div>
</section>
